[submodule "lab2"]
	path = lab2
	url = https://github.com/eduardo-ufmg/lab2
[submodule "manipuladores_roboticos"]
	path = manipuladores_roboticos
	url = https://github.com/eduardo-ufmg/manipuladores_roboticos
